<div class="row">
    <div class="col-xs-12">
        <form id="shopping-list-add" (ngSubmit)="onSubmit(f.value)" #f="ngForm">
            <div class="row">
                <div class="offser-sm-1 col-sm-5 form-group">
                    <label for="item-name">Name</label>
                    <input type="text" id="item-name" required class="form-control" [ngModel]="item" name="name">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit" *ngIf="isAdd" [disabled]="!f.valid">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <div *ngIf="!isAdd">
                        <button class="btn btn-success" type="submit" [disabled]="!f.valid">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                        </button>
                        <button class="btn btn-danger" type="button" (click)="onDelete()">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>