<div class="row">
  <div class="col-xs-offset-1 col-xs-10 col-lg-6">
    <app-shopping-list-add [item]="selectedItem" (cleared)="onCleared()"></app-shopping-list-add>
    <hr>
    <ul class="list-group">
      <li class="list-group-item" style="cursor:pointer" *ngFor="let item of items" (click)="onSelectedItem(item)">{{item}}
      </li>
    </ul>
    <div *ngIf="items.length==0" class="alert alert-success box-msg" role="alert">
        <strong>No items in your shopping list! Start shopping now!</strong>
  </div>
  </div>
</div>